#about-section {
  width: 100%;
  margin-top: clamp(72px, 5vw, 145px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sub-title {
  font-size: clamp(18px, 3vw, 30px);
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.content {
  padding: 0 clamp(20px, 10vw, 140px);
  max-width: 800px;
  line-height: 1.6;
  font-size: clamp(16px, 2vw, 18px);
}

.content p {
  margin-bottom: 20px;
  color: #333;
}

.content ul li {
  margin-bottom: 10px;
  color: #555;
}
